h2 {
	text-align: center;
	@media only screen and (min-width: 768px) {
		font-size: 3rem;
	}
	@media only screen and (min-width: 1024px) {
		font-size: 4rem;
	}
}
.register {
	display: flex;
	flex-direction: column;
	border: solid 1px black;
	border-radius: 11px 10px 10px 10px;
	padding: 10px;
	@media only screen and (min-width: 320px) {
		width: 70%;
		margin: auto;
	}
	@media only screen and (min-width: 420px) {
		width: 40%;
		margin: auto;
	}
	@media only screen and (min-width: 768px) {
		width: 70%;
		height: auto;
		margin: auto;
		font-size: 2rem;
	}

	@media only screen and (min-width: 1440px) {
		width: 60%;
	}
	@media only screen and (min-width: 1700px) {
		width: 50%;
		margin: auto;
	}
	label {
		margin: 10px;
	}
	input[type="text"],
	[type="email"],
	[type="password"] {
		margin: 5px;
		border-radius: 10px 10px 10px 10px;
		@media only screen and (min-width: 320px) {
			margin: 2px;
		}
		@media only screen and (min-width: 768px) {
			font-size: 2rem;
		}
	}
	@media only screen and (min-width: 1700px) {
		font-size: 1.5rem;
	}
	input[type="submit"] {
		width: 20%;
		margin: auto;
		@media only screen and (min-width: 320px) {
			width: 30%;
			margin: auto;
			margin-top: 30px;
		}
		@media only screen and (min-width: 768px) {
			width: 40%;
			font-size: 2rem;
		}
		@media only screen and (min-width: 1700px) {
			font-size: 1.5rem;
			width: 30%;
		}
	}
}
