@import 'src/styles/vars';

.register {
    align-items: center;
    background-color: $green7;

    &__header {
      color: white;
      text-align: center;
    }

    &__logo {
        display: flex;
        justify-content: center;
    }

    &__img {
        width: 10em;
    }

    &__submit {
        margin-top: 1em;
    }

    &__form {
      margin: auto;
      display: flex;
      flex-direction: column;
      padding-bottom: 2em;

      & label {
        margin: 1em 0 0 1em;
        color: white;
        font-size: 0.8em;
      }

      & input {
        height: 1.5em;
        font-size: 0.8em;
      }

      & input, & textarea {
        outline: none;
        border: none;
        resize: none;
        margin-top: 0.5em;
        padding: 5px 10px;
        border-radius: 10px;
      }
    }
}


// Small devices (landscape phones, 576px and up)
@media (max-width: 550px) { 
  .register__form {
    width: 90vw;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 550px) and (max-width: 768px) {
  .register__form {
    width: 75vw;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .register__form {
    width: 60vw;
  }
}

@media (min-width: 1024px) {
  .register__form {
    width: 50vw;
  }
}