.fas {
    font-size: 1em;
    color: white;
}

.about__content {
    height: 40vh;
    width: 70vw;
    margin: auto;
    text-align: center;
    // position: absolute;
    border-radius: 20px;
    // top: 200px;
    background: white;
    padding: 1em;

    & h1 {
        margin: 1em auto;
    }

    & p {
        font-size: 0.6em;
        line-height: 1.5;
        margin-bottom: 0.5em;
    }
}

.about__team {
    
    &--card {
        height: 250px;
        width: 150px;
        border: 1px solid black;
    }
}