.user__page{
    background-color: #63d471;
    background-image: linear-gradient(315deg, #63d471 0%, #233329 74%);
    height: 100vh;
    @media only screen and (min-height:560px){
        height: 100%;
    }
    @media only screen and (min-height:640px){
        height: 100%;
    }
    @media only screen and (min-height:730px){
        height: 100vh;
    }
    @media only screen and (min-height:1020px){
        height: 106vh;
    }
    @media only screen and (min-height:1360px){
       
    }
    
    .user__h1{
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 2rem;
    }
    .user{
        background: rgba(255, 255, 255,0.2);
        backdrop-filter: blur(30px);
        border: 2px solid rgba(255, 255, 255,0.1);
        margin: auto;
        border-radius: 10px;
        padding: 10px;
        width: 80%;
        @media only screen and (min-width:540px){
            width: 80%;
        }
        @media only screen and (min-width:1024px){
            width: 60%;
        }
        @media only screen and (min-width:1440px){
           width: 40%;
            margin: auto;
        }
        @media only screen and (min-width:2560px){
            width: 30%;
        }
        .user__h2e{
            border-radius: 10px;
            width: 70%;
            background: white;
            opacity: 0.8;
            margin: auto;
            h2{
                color: #52796F;
                border-radius: 10px 10px 10px 10px;
                margin: auto;
                text-align: center;
                width: 50%;
                padding: 2%;
                font-size: .7rem;
                @media only screen and (min-width:768px){
                    font-size: 2rem;
                }
                @media only screen and (min-width:2560px){
                    width: 30%;
                }
            }
        }
        .user__photo{
            width: 20%;
            padding: 10%;
            
        }
        .user__form{
            padding: 5%;
            display: flex;
            flex-direction: column;
            @media only screen and (min-width:768px){
                font-size: 2rem;
            }
            label{
                width: 30%;
                margin:2%;
            }
            select{
                margin: 2%;
                width: 30%;
                @media only screen and (min-width:768px){
                    font-size: 1.5rem;
                }
            }
        }
        h2{
            margin: auto;
            text-align: center;
            color: #52796F;
            
            border-radius: 10px 10px 10px 10px;
            width: 50%;
            margin-top: 2%;
            @media only screen and (min-width:768px){
                font-size: 2.5rem;
                width: 70%;
            }
            @media only screen and (min-width:2560px){
                width: 50%;
            }
        }
        .user__trajet{
            border-radius: 5%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            @media only screen and (min-width:768px){
                font-size: 1.5rem;
            }
            @media only screen and (min-width:2560px){
                font-size: 2rem;
            }
            
        }
        .user__mode{
            text-align: center;
            @media only screen and (min-width:768px){
                font-size: 1.5rem;
            }
            @media only screen and (min-width:2560px){
                font-size: 2rem;
            }
        }
    }
    .footer__menu{
        position: relative;
        @media only screen and (min-height:730px){
            top: 27px;
        }
        @media only screen and (min-height:810px){
            top: 119px;
        }
        @media only screen and (min-height:1024px){
            top: 120px;
        }
        @media only screen and (min-height:1360px){
            top: 480px;
        }
    }
}