.footer__menu {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
}

.footer__menu__li, .active {
    color: white;
    text-decoration: none;
    list-style-type: none;
    font-size: 0.75em;
    text-shadow: #EEE 1px 0 10px;
    margin: 1em 0;

    &:hover {
        color: whitesmoke;
    }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 550px) { 
    .footer__menu {
        background-color: rgba(0, 0, 0, .5);
        display: flex;
        flex-direction: column;
    }

    .footer__menu__li, .active {
        margin: 0.5em;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 550px) and (max-width: 768px) {
    .footer__menu {
        display: flex;
        justify-content: center;
    }
}