// Pour importer sur une autre page --> @import 'src/styles/vars';

// Green : du + clair au + foncé
// Lien de la palette : https://coolors.co/d8f3dc-b7e4c7-95d5b2-74c69d-52b788-40916c-2d6a4f-1b4332-081c15

$green1: #d8f3dc;
$green2: #b7e4c7;
$green3: #95d5b2;
$green4: #74c69d;
$green5: #52b788;
$green6: #40916c;
$green7: #2d6a4f;
$green8: #1b4332;
$green9: #081c15;