.footer__menu {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    
}

.footer__menu__li, .active {
    color: white;
    text-decoration: none;
    list-style-type: none;
    font-size: 0.75em;
    margin: 1em 0;

    &:hover {
        color: whitesmoke;
    }
}

.footer__menu__li a {
    color: white;
    font-size: 0.8em;
    margin: 0 1em;
}
